<table border="0" width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="#edf2f4">
    <tbody>
    <tr>
        <td style="background-size: cover; background-position: top;" align="center">
            <p></p><p></p><p></p><p></p><p></p><p></p><table class="table600" border="0" width="600" cellspacing="0" cellpadding="0" align="center">
                <tbody>
                <tr>
                    <td height="60"></td>
                </tr>
                <tr>
                    <td style="line-height: 0px;" align="center">
                        时光邮局
</td>
                </tr>

                <tr>
                    <td height="15"></td>
                </tr>

                <tr>
                    <td style="font-family: -apple-system, BlinkMacSystemFont, 'PingFangSC-Regular', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Helvetica, Arial, 'WenQuanYi Micro Hei', SimSun, sans-serif; font-size: 12px; color: #a0afc1; line-height: 26px; text-transform: uppercase; letter-spacing: 2px; font-weight: normal;" align="center">一封自过去的信</td>
                </tr>

                <tr>
                    <td height="40"></td>
                </tr>
                <tr style="box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3); -webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3); -moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);">
                    <td align="center">
                        <p></p><p></p><table style="border-top: 3px solid #3021ec;" border="0" width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
                            <tbody>
                            <tr>
                                <td height="80"></td>
                            </tr>

                            <tr>
                                <td align="center">
                                    <p></p><p> </p><p></p><p></p><p></p><table class="table-inner" border="0" width="500" cellspacing="0" cellpadding="0" align="center">

                                        <tr>
                                            <td style="font-family: -apple-system, BlinkMacSystemFont, 'PingFangSC-Regular', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Helvetica, Arial, 'WenQuanYi Micro Hei', SimSun, sans-serif; font-size: 16px; color: #000; line-height: 30px;" align="center">hello</td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <table border="0" width="25" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                    <tr>
                                                        <td style="border-bottom: 2px solid #3021ec;" height="15"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="30"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <%- locals.content %>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td style="font-family: -apple-system, BlinkMacSystemFont, 'PingFangSC-Regular', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Helvetica, Arial, 'WenQuanYi Micro Hei', SimSun, sans-serif; font-size: 12px; color: #7f8c8d; line-height: 30px;" align="center"></td>
                                        </tr>
                                        <tr>
                                            <td height="20"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-family: -apple-system, BlinkMacSystemFont, 'PingFangSC-Regular', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Helvetica, Arial, 'WenQuanYi Micro Hei', SimSun, sans-serif; font-size: 12px; color: #7f8c8d; line-height: 30px;" align="center">如果在使用中遇到问题，请发邮件到 hi@mail.loli.ug ，我们将尽快回复。</td>
                                        </tr>
                                        <tr>
                                            <td style="font-family: -apple-system, BlinkMacSystemFont, 'PingFangSC-Regular', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Helvetica, Arial, 'WenQuanYi Micro Hei', SimSun, sans-serif; font-size: 12px; color: #7f8c8d; line-height: 30px;" align="center">感谢你的访问，祝你使用愉快！</td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="50"></td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table border="0" width="90%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td style="border-top: 1px solid #f3f3f3;" height="1px"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="10"></td>
                            </tr>
                            <tr>
                                <td style="font-family: -apple-system, BlinkMacSystemFont, 'PingFangSC-Regular', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Helvetica, Arial, 'WenQuanYi Micro Hei', SimSun, sans-serif; font-size: 12px; color: #b8becc; line-height: 30px;" align="center">此邮件由系统自动发出，请勿直接回复</td>
                                <td height="30"></td>
                            </tr>
                            <tr>
                                <td height="10"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="50"></td>
                </tr>

                <tr>
                    <td style="font-family: -apple-system, BlinkMacSystemFont, 'PingFangSC-Regular', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Helvetica, Arial, 'WenQuanYi Micro Hei', SimSun, sans-serif; font-size: 12px; color: #7f8c8d; line-height: 30px;" align="center">© 2022 <a style="color: #7f8c8d;" href="https://loli.ug" target="_blank">时光邮局</a> . All Rights Reserved.</td>
                </tr>

                <tr>
                    <td height="25"></td>
                </tr>

                <tr>
                    <td height="45"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
